<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    <bean  id="father" class="top.bgyx.boot.basic.entity.Father">-->
<!--        <property name="name" value="tom father"/>-->
<!--        <property name="age" value="40"/>-->
<!--    </bean>-->


<!--    <bean id="student" class="top.bgyx.boot.basic.entity.Student">-->
<!--        <property name="id" value="123"/>-->
<!--        <property name="name" value="tom"/>-->
<!--&lt;!&ndash;        <property name="father" ref="father"/>&ndash;&gt;-->
<!--    </bean>-->
</beans>